*
{
    box-sizing: border-box;
}
.body
{
    display: block;
    background-color: #083e3e;
    min-height: 100%;
}
.header
{
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.5;
    margin-left: 40px;
    margin-top: 40px;
}
.main
{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
}
img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footer
{
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 15px;
}
.footer a
{
    color: white;
    text-decoration: none;
    margin-right: 5px;
    padding: 10px;
}
.navbar 
{
    display: flex;
}
span
{
    opacity: 0.5;
}
@media (max-width: 600px) 
{
    .navbar 
    {
        flex-direction: column;
    }
}