* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

html {
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #d456cf;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.menu li:hover {
  background-color: #c119ba;
}

.aside {
  background-color: #d456cf;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.container {
  width: 1320px;
  margin: auto;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}


@media only screen and (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media only screen and (max-width: 600px) {
  
  img {
    width: 100px;
    height: 100px;
  }
  .col-1 {
    width: 20%
  } 
  .col-2 {
    width: 40%;
  }
  .right-panel {
    display: none;
  }
  .container {
    width: 580px;
  }
}


.author {
  color: #797676;
  font-size: 18px;
}

.author-name {
    color: white;
    font-size: 22px;
}